.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
./Icon?
ehthumbs.db
Thumbs.db

/.idea/
/.fleet/

composer.lock
/composer.phar
/auth.json
/.github/vendor/*

.phpunit.cache/
phpunit.xml
.phpstan.cache/
phpstan.neon
.phpcs-cache
phpcs.xml
vendor/
