includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: max
    treatPhpDocTypesAsCertain: false
    checkGenericClassInNonGenericObjectType: false
    tmpDir: ./.build/cache/phpstan
    paths:
        - lib
        - tests