<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         colors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         failOnNotice="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheDirectory=".build/cache/phpunit"
>
    <coverage/>

    <testsuites>
        <testsuite name="Units Test Suite">
            <directory>tests/Units</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>lib</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
    </php>
</phpunit>