<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd"
        bootstrap="vendor/autoload.php"
        backupGlobals="false"
        backupStaticProperties="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        stopOnError="false"
        stderr="true"
        cacheDirectory=".phpunit.cache"
>
    <coverage/>
    <testsuites>
        <testsuite name="Units Test Suite">
            <directory>tests/Units</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>